mixin navbar()
  nav#stickynav.navbar.navbar-transparent.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        span.navbar-brand-container
          a.navbar-brand.nowrap(href='#top') digital coaching network
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse(id='main-navbar-collapse')
        ul.nav.navbar-nav.navbar-content
          //- li: a(href='#digitalcoaching') Digital Coaching
          li: a(href='#workflows') Workflows
          li: a(href='#team') About Us
          li: a(href='#howitworks') How It Works
          li: a(href='#signup') Sign Up
          //- li.visible-xs: a(href='#bottom') Sign Up
        //- ul.nav.navbar-nav.navbar-right
          li.hidden-xs
            a.btn-action.btn-primary(href='#bottom') Sign Up
