extends layout

block styles
		link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open Sans:300')

block title
		title Digital Coaching

block content

	nav#stickynav.navbar.navbar-transparent.navbar-fixed-top(role='navigation')
		.container-fluid
			.navbar-header
				a.navbar-brand.nowrap(href='/') digital coaching network
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar-collapse', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse(id='main-navbar-collapse')
				ul.nav.navbar-nav.navbar-content
					li
						a(href='/workflows') Workflows
					li
						a(href='/teams') Teams
					li
						a(href='/about') About
					li.visible-xs
						a(href='#bottom') Sign Up
				ul.nav.navbar-nav.navbar-right
					li.hidden-xs
						a.btn-action.btn-primary(href='#bottom') Sign Up

	//- details
	.theme-light
			.container-narrow.pad.vpad.margin-about.space-above
					h1 Our Philosophy
					p.space-above Technology has taken us by storm, and most of us will admit that we weren’t prepared. No one anticipated the revolution that has changed the world, from the way businesses manage their day-to-day operations to the way you communicate with your closest family and friends, technology is all-pervasive in our lives today. This simple truth has left many of us feeling more isolated than ever before, as the fast-paced advances that occur each year seem to leave many of us behind as progress continues its forward march. How do we orient ourselves in this new, somewhat foreign world? How can we use the new tools that have been created in a way that makes our lives more fulfilled, instead of feeling controlled by the ever-changing landscape of technologies that clutter our minds?

					p We need a more human approach to these very non-human tools. Technology can be used to liberate us, and if we are to overcome the stifling feeling of control that leaves many of us paralyzed with fear and anxiety, we need to be willing to coach one another to success. 

					p That’s where we can help.

					h1 Who We Are

					p.space-above #[span.robin Robin:] So what exactly is Digital Coaching?

					p #[span.raine Raine:] We’re not trying to make everyone into a tech guru, far from it in fact. A Digital Coach is your personal trainer when it comes to making technology work for you, and not the other way around. We help people gain an understanding of the tools and technologies that can simplify your work and increase your enjoyment of using computers, software, and the web. We believe that with the right kind of guidance we can improve everyone’s ability to use technology effectively, and even enjoy the process of learning, not to mention the results! In short, Digital Coaching is a relationship-based approach to teaching the basics of modern technologies and productivity tools.

					p #[span.robin Robin:] You seem to imply that there is a void you’re trying to fill in people’s lives when it comes to using computers and the web. Why do you think this approach to education is necessary in today’s changing world, and what makes you think you can be successful in teaching these tools?

					p #[span.raine Raine:] Success and failure is something we all determine for ourselves, and is less based on the external results of what you produce and more about how you FEEL about the work you’re doing. We have watched the people we work with struggle with tech not because of a lack of expertise with computers, but because of the attitude with which they approach solving a problem with such a counter-intuitive tool like a piece of software or a web-application. Our success is based entirely on bringing understanding and meaning into people’s lives; in making technology relevant to whatever task you use it for. We know we can help others feel more confident and empowered, because we’ve applied these same techniques to our own lives and those closest to us, and believe it or not, it works!

					p #[span.robin Robin:] So it’s the process that is the most important part of learning to use modern tools, not the tools itself?

					p #[span.raine Raine:] It’s both, and they go hand-in-hand. Even if the best to-do application ever created was available today, that doesn’t mean that most of us would use it in an effective way. It’s one thing to be excited about a new piece of software, it’s another to use it in a mannar that changes your life for the better. For instance, answering, categorizing, and checking emails is often one of the most frustrating tasks of our day. Wouldn’t it be nice to feel confident and at ease when using email, instead of overwhelmed and frustrated?

					p #[span.robin Robin:] It definitely would, and the amount of time and energy it seems to take away from my day every time I open my inbox would be worth the investment for most people, I think.

					p #[span.raine Raine:] Absolutely. It’s amazing to feel good about using technology, and not let technology have it’s way with you. Granted there will always be frustrations, however it’s learning to approach a new tech problem with excitement, energy, and enthusiasm that has made the difference in my life and those that we coach. The real question for most people is not whether they want to have this kind of empowered relationship with technology, but how they can get started and just how much work it will take to get there.

					p #[span.robin Robin:] I imagine just being willing to have this discussion and approaching the topic from a beginner’s mentality would be helpful. For instance, many of us feel like we know how to use a computer or the web, but I think most might admit a lack of mastery with the tools we use to communicate and organize our thoughts on a daily basis. Back to the basics, then?

					p #[span.raine Raine:] Not necessarily. We want to improve your relationship with technology, not just teach you the ins-and-outs of which buttons to press. If you’re truly looking to change the way your feel when you sit down in front of a computer, then it’s the perfect time to reach out for a coach. While it’s never easy taking on something new and challenging, we promise to be with you every step of the way, in a supportive, authentic relationship. Technology is meant to bring us closer, simplify our lives, and empower us to be creative and successful.

					p #[span.robin Robin:] So is the next step to sign up? What happens after that?

					p #[span.raine Raine:] We will reach out to you to discuss the specifics of what we offer, and how we can tailor our services to meet your needs. We’re talking about real, human-to-human relation here, and that means working to pair you with a coach that can help you achieve the level of confidence and productivity you’re looking for. Sign up, I promise we won’t spam you! You have nothing to lose, and everything to gain.

	//- Mailing List Signup
	//- #subscribe.theme-light
	//- 		.container-narrow.vpad-lg.pad
	//- 				.center.wide
	//- 						.learn-more
	//- 								h1 Interested in learning more?
	//- 								p.text-sm Enter your email and we will contact you promptly. We won't send you unsolicited emails.

	//- 								form(action='//institute.us8.list-manage.com/subscribe/post?u=7ee4ab397f3a604f4299bdeaa&id=252665f9ef', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
	//- 										.row
	//- 												.col-xs-8
	//- 														.form-group
	//- 																input.form-control(type='email' placeholder='Enter Your Email' name='EMAIL' required)
	//- 												.col-xs-4
	//- 														div(style='position: absolute; left: -5000px;')
	//- 																input(type='text' name='b_7ee4ab397f3a604f4299bdeaa_252665f9ef' tabindex='-1' value='')
	//- 														button.btn.btn-block Submit

	//- footer
	#subscribe.theme-dark.text-sm
			.container-narrow.vpad-lg.pad
					.center.wide
							.div
									h1 Interested in learning more?
									p.text-sm Enter your email and we will contact you promptly. We won't send you unsolicited emails.

									form(action='//institute.us8.list-manage.com/subscribe/post?u=7ee4ab397f3a604f4299bdeaa&id=252665f9ef', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
											.row
													.col-xs-8
															.form-group
																	input.form-control(type='email' placeholder='Enter Your Email' name='EMAIL' required)
													.col-xs-4
															div(style='position: absolute; left: -5000px;')
																	input(type='text' name='b_7ee4ab397f3a604f4299bdeaa_252665f9ef' tabindex='-1' value='')
															button.btn.btn-block Submit
			.theme-dark-color.text-sm.bfc
						.container
							.a(id='bottom')
										.col-md-6
												p.nospace Thanks for stopping by :)

										.col-md-6
												.hidden-md.hidden-lg: .space-above
												.right-sm
														p.nospace
																a(href='mailto:info@digitalcoachingnetwork.com') info@digitalcoachingnetwork.com