extends layout

block styles
		link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open Sans:300')

block title
		title Digital Coaching

block content
	//- Fixed navbar id allows for anchor tag scroll
	#top

	//- hero unit
	.hero.theme-pretty.spread
			.pad.title-color.herotag
					.vert
							h1.title Learn modern web technologies in a supportive, 1-on-1 relationship

	//- intro
	.theme-light
			.container-narrower.pad.vpad-lg
					.text-center
						p.text-lead.space-below-md From email organization, to todo lists, to Wordpress, we teach you how to use modern technology with confidence and ease.
						p We believe that anyone can be effective with technology with the right support, which is why we are offering something that others are not:
						p Sit down face-to-face with a skilled and sensitive coach. Tell them your frustrations. Tell them your desires. You will be listened to and guided towards a more effective relationship with technology.


	//- Workflows and Tools
	.theme-pale
			.container-narrow.pad.vpad-md

					.center.wide
							h1 Featured Workflows

					.row.space-above-md

							.col-sm-6
									h2.text-center.space-below Email Organization
									.center.wide.space-below: div
											img(src= "/images/gmail_icon.png" height="110")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

							.col-sm-6
									h2.text-center.space-below Todo Lists
									.center.wide.space-below: div
											img(src= "/images/wunderlist_icon.png" height="110")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					.row.space-above-md

							.col-sm-6
									h2.text-center.space-below Wordpress
									.center.wide.space-below: div
											img(src= "/images/wordpress_icon.png" width="150")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

							.col-sm-6
									h2.text-center.space-below Calendar Management
									.center.wide.space-below: div
											img(src= "/images/google_cal_icon.png" width="150")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					.row.space-above-md

							.col-sm-6
									h2.text-center.space-below Cloud File Management
									.center.wide.space-below: div
											img(src= "/images/docs_icon.png" width="150")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

							.col-sm-6
									h2.text-center.space-below Operating System
									.center.wide.space-below: div
											.proxy
												img#apple-logo(src= "/images/apple_icon.png" height="150")
											img#windows-logo(src= "/images/windows8_icon.png" height="150")
									p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					.center.wide.space-above-lg
							h1 Other Tools

					.row.space-above-md
							.col-sm-4.col-sm-offset-4
									ul
										li Backups
										li Browsers
										li Facebook
										li Group communication
										li Password Management
										li RSS
										li Time Tracking
										li Video Chat


	//- team
	.theme-dark
			.container-narrow.pad.vpad-md

					.center.wide
							h1 Learn about the team

					.row.space-above-md

							.col-sm-6
									.center.wide: div
											.sprite-avatar-raine.img-circle.border-gray.block
											h2.text-caption Raine
									p.text-sm.vspace Working with Raine in the last couple of years has deepened the respect I have for him immensely, both personally and professionally. He’s not only someone whom I feel comfortable relating to in almost all aspects of my life, but that I trust to bring compassionate presence and a human touch to the IT world, a mindset that I feel is missing in the tech community today. Although IT can feel cold and hard at times, Raine brings clarity and compassion to every aspect of his work. I'm grateful to have him not only as a mentor, but also a friend.

							.col-sm-6
									.visible-xs: .space-above-lg
									.center.wide: div
											.sprite-avatar-robin.img-circle.border-gray.block
											h2.text-caption Robin
									p.text-sm.vspace Robin graduated from the 2nd cohort at RefactorU. I am thrilled to be working with him. This is the first time I have not done a business solo, and going into it I knew that I wanted a cofounder who I connected with personally and respected for their personal beliefs, values, and presence. Robin has an amazing ability to stay embodied and kindhearted even when entangled in the headiest tech problems—it’s one of the many things I love about him!

	//- quote
	//- .theme-quote
	//- 		.container-narrow.pad.vpad-lg
	//- 				.quote
	//- 						q The core of our service is empowerment. We believe everyone can feel confident and effective using a computer in the ways that are relevant to them.

	.theme-quote.relative
				.darken
				.vpad.title-color.quotetag
						.col-md-5.col-md-offset-7.center
								h1.quote The core offering of our service is empowerment. We believe everyone can feel confident and effective using a computer in the ways that are relevant to them.
	//- details
	.theme-light
			.container-narrow.pad.vpad

					h1 How it works
					p Let's get into explaining B. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					p Let's get into explaining B some more. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					h1 Next steps
					p Let's get into explaining B. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					p Let's get into explaining B some more. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

					h1 Price
					p Since this is a new offering, we are determining our pricing structure. It will most likely be between $50-100 for a 1hr session.

	//- Mailing List Signup
	#subscribe.theme-signup
			.container-narrow.vpad-lg.pad
					.center.wide
							.learn-more
									h1 Interested in learning more?
									p.text-sm Enter your email and we will contact you promptly. We won't send you unsolicited emails.

									form(action='//institute.us8.list-manage.com/subscribe/post?u=7ee4ab397f3a604f4299bdeaa&id=252665f9ef', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
											.row
													.col-xs-8
															.form-group
																	input.form-control(type='email' placeholder='Enter Your Email' name='EMAIL' required)
													.col-xs-4
															div(style='position: absolute; left: -5000px;')
																	input(type='text' name='b_7ee4ab397f3a604f4299bdeaa_252665f9ef' tabindex='-1' value='')
															button.btn.btn-block Submit

	//- footer
	.theme-dark.text-sm
			.container.vpad
				.a(id='bottom')
							.col-md-6
									p.nospace Thanks for stopping by :)

							.col-md-6
									.hidden-md.hidden-lg: .space-above
									.right-sm
											p.nospace Questions? &nbsp;&nbsp;&nbsp;
													a(href='mailto:raine@digitalcoachingnetwork.com') raine@digitalcoachingnetwork.com
													|  &middot; 
													a(href='mailto:robin@digitalcoachingnetwork.com') robin@digitalcoachingnetwork.com
