extends layout

block styles
  link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open Sans:300')

block title
  title Digital Coaching

block content
  //- Fixed navbar id allows for anchor tag scroll
  #top
  include mixins/navbar.jade
  +navbar()

  //- hero unit
  .hero.theme-pretty.relative
    .vpad-md.title-color.herotag
      .vert
        h1.title Learn essential computer skills in a supportive, 
          br.visible-xs
          | 1-on-1 
          | relationship
        h2.subtitle Hire a digital coach

  //- intro
  .theme-pale
    .container-narrow.pad.vpad-md

      h1 What is Digital Coaching?
      p Digital Coaching is a service that is designed to help you become more productive and confident with computers and web applications without having to become a techie. It happens in a 1-on-1 relationship with a real person, someone who can answer questions and support you in creating a more effective relationship with technology.

      .text-center.space-above-md

        ol.text-left.space-below-md
          li Get paired with a digital coach.
          li Learn the key points to effective technology use.
          li Enjoy a new, empowered relationship with technology.

        .border-block.pad-md.space-below-md
          .text-highlight Keep reading to learn about Featured Workflows—
            br.hidden-xs
            | our approach to increased confidence with technology!

  //- Workflows and Tools
  .theme-light: .container-narrow.pad.vpad-md

    h1 Featured Workflows
    p A "workflow" is an approach to using a tool. It includes both how to get it working, and how to go about using it in an effective manner. We are highlighting the following featured workflows that have been crafted for ease-of-use and effectiveness. If you would like to focus on a specific workflow during your session, let us know!

    .row.space-above-md

      .col-sm-6
        h2.text-center.space-below Email Organization
        .center.wide.space-below: div
          img(src= "/images/gmail_icon.png" height="110")
        p.text-sm When your email is well-organized, and you have a system for checking and categorizing incoming email, you will feel increasingly relaxed and confident about being on top of all your communications. It is a great feeling to have everything accounted for and know that no one in your life has been left hanging. It also feels great to have faith in finding any past email.

      .col-sm-6
        h2.text-center.space-below Todo Lists
        .center.wide.space-below: div
          img(src= "/images/wunderlist_icon.png" height="110")
        p.text-sm Many people try using a todo list app, adding all their todo items only to find themselves returning to pen and paper after the todo app sits unused for weeks. Why does this happen? It is possible that their todo app is not the best. What is more likely, however, is that they simply have not found an effective workflow.

    .row.space-above-md

      .col-sm-6
        h2.text-center.space-below Wordpress
        .center.wide.space-below: div
          img(src= "/images/wordpress_icon.png" width="150")
        p.text-sm A Wordpress site is a website that lets anyone to add and edit content on their website with a simple visual editor. Wordpress is well-known as a blogging platform, but it can just as easily be used to create normal websites that consist of several pages of static content. Wordpress has been around for a while, which means that if you run into a problem, chances are someone else has as well, and has posted a solution online. There are also many great customizations available.

      .col-sm-6
        h2.text-center.space-below Calendar Management
        .center.wide.space-below: div
          img(src= "/images/google_cal_icon.png" width="150")
        p.text-sm Let's get into explaining A. It's gonna take a while. There really is a lot to it, but I will make it easy to understand. It's just a matter of breaking down the complex parts into simple parts. I will explain the simple parts and then you will understand the complex parts. That's how this works. Keep reading. You don't understand it. But you will. Trust yourself.

    .row.space-above-md

      .col-sm-6
        h2.text-center.space-below Cloud File Management
        .center.wide.space-below: div
          img(src= "/images/docs_icon.png" width="150")
        p.text-sm When it comes to organization, files or anything else in life, it helps to understand the space in which you are categorizing and organizing your content. Just as a closet might have shelves, hooks, and drawers to store different types of clothes in, your hard drive is optimized for organizing different types of files. The question is how to go about storing all of them for quick, intuitive access.

      .col-sm-6
        h2.text-center.space-below Operating System
        .center.wide.space-below: div
          .proxy
            img#apple-logo(src= "/images/apple_icon.png" height="150")
          img#windows-logo(src= "/images/windows8_icon.png" height="150")
        p.text-sm We all have that friend, the “computer guy” who just seems to understand what they’re doing when they sit down in front of a monitor. Their demeanor seems calm and relaxed, while they solve a problem you’ve been struggling with for hours with effort and ease. Wouldn’t it be nice to feel that level of confidence you experience in other areas of your life, without having to “get” computers?

    .center.wide.space-above-lg
      h1 Other Tools

    .row.space-above-md
      .col-sm-4.col-sm-offset-4
        ul
          li Backups
          li Browsers
          li Facebook
          li Group communication
          li Password Management
          li RSS
          li Time Tracking
          li Video Chat


  //- team
  .theme-dark-color

    .container-narrow.pad.vpad-md

    .container-narrow.center.wide
      h1.above-navbar Learn about the team

    .container-narrow.pad.vpad-md: .row.space-above-md

      .col-sm-6
        .center.wide: div
          .above-navbar.sprite-avatar-raine.img-circle.border-gray.block
          h2.text-caption Raine
        p.text-sm.vspace Raine has made a career out of bringing human connection to the world of technology. His friends and colleagues known him as radically honest and compassionate—both keen-thinking and willing to be vulnerable. He thrives on personal growth and inspires those around him to be more open, reflective, and courageous. 

        p.text-sm.vspace With 15 years of programming experience, Raine has worked extensively in the technology field, both as a developer and a teacher. He founded the tutoring business College Coding before designing the curriculum and serving as Lead Instructor at web development school RefactorU. Raine also works as an On-Call Advocate at Safehouse Progressive Alliance for Nonviolence, a domestic violence shelter in Boulder, CO. Raine now co-leads the Digital Coaching Network, bringing his wide tech experience to help everyone use computers more confidently.

        p.text-sm.vspace Raine holds a B.A. in Computer Science and is pursuing an M.A. in Contemplative Counseling Psychology.

      .col-sm-6
        .visible-xs: .space-above-lg
        .center.wide: div
          .above-navbar.sprite-avatar-robin.img-circle.border-gray.block
          h2.text-caption Robin
        p.text-sm.vspace Robin graduated from the 2nd cohort at RefactorU. I am thrilled to be working with him. This is the first time I have not done a business solo, and going into it I knew that I wanted a cofounder who I connected with personally and respected for their personal beliefs, values, and presence. Robin has an amazing ability to stay embodied and kindhearted even when entangled in the headiest tech problems—it’s one of the many things I love about him!

  .theme-quote.relative
    .darken-absolute
    .vpad.title-color.quotetag
      .col-md-5.col-md-offset-7.center
        h1.quote Our core offering is empowerment. We believe everyone can feel confident and effective using a computer.

  //- Relationship-Based
  .theme-dark
    .container-narrow.pad.vpad

      h1 Relationship-Based
      p Unique in the world of technology, Digital Coaching Network is a business about relationships. These are not just transactional relationships, but personal relationships that honor the inner world of everyone involved.

      h2 Client—Coach
      p The coach's #1 job with you, the client, is to listen. They listen so they may understand where you are coming from, what your struggles are, and what you would like to learn. Coaches' communications include not only information, but also contextual and emotional content that is appropriate to each moment.

      h2 Coach—Founder
      p Coaches and founders recognize the importance of relationship in their communications with each other. Maintaining and supporting positive relationships within the company takes precedence over other business outcomes.

      h2 Client—Technology
      p Even the content itself is about relationship: your relationship with technology and the tools you use in your personal life or business. We recognize that learning specific skills are meaningless if broader dynamics of process and subjective experience are ignored.

  //- How it works and next steps
  .theme-pale
    .container-narrow.pad.vpad-md

      h1 How it works
      p After contacting us, we will set up a simple, initial consultation to hear about your situation. This lets us hear about your situation, answer any questions you might have, as well as get a sense of your current relationship with technology.
      p After determining if it is a good fit, and how we may be able to help you, we will pair you with the perfect coach for you and schedule your first session.
      p Meet with your personal coach for a single session or multiple sessions. Meet over video chat (Skype) or in-person if you are in one of our service regions.

      h1 Do I need Digital Coaching?
      p Digital Coaching can help you if:
      ul
        li You are sick of feeling disempowered—frustrated, confused, embarassed, left behind—and would like to create a new relationship with technology.
        li You would like targeted advice to make life easier on everyday digital tasks such as email organization and file storage.
        li You would like skilled and supportive training on one of our featured Workflows, such as how to create your own website with Wordpress.

      h1 Price
      p Sessions are offered on a sliding scale at an hourly rate. The initial consultation is free.

  //- Mailing List Signup
  #subscribe.theme-signup.center.wide: div
    .container
      //- block needed so width doesn't default to 100% and can horizontally center
      .theme-dark.block.text-block.pad-lg
        h1 Interested in learning more?
        p.text-sm Enter your email and we will contact you promptly. We won't send you unsolicited emails.

        form(action=config.mailchimp.action method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
          .row
            .col-xs-8
              .form-group
                input.form-control(type='email' placeholder='Email' name='EMAIL' required)
            .col-xs-4
              div(style='position: absolute; left: -5000px;')
                input(type='text' name='b_7ee4ab397f3a604f4299bdeaa_252665f9ef' tabindex='-1' value='')
              button.btn.btn-dark.btn-block Submit

  //- footer
  #bottom
    .hidden-xs.theme-dark-color.text-sm.bfc: .container
      .col-sm-6
        p.nospace Thanks for stopping by :)

      .col-sm-6
        .right
          p.nospace
            a(href='mailto:info@digitalcoachingnetwork.com') info@digitalcoachingnetwork.com

    .visible-xs.theme-dark-color.text-sm: .container-fluid
      .col-sm-12
        p.nospace.vpad-xs Thanks for stopping by :)
