doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block title

		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet' href='/styles/main.min.css')
		block styles

	body
		block content

	script(src='/scripts/main.min.js')
	block scripts
