doctype html
html.spread(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block title

		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet' href="http://code.jquery.com/ui/1.10.4/themes/black-tie/jquery-ui.css")
		link(rel='stylesheet' href='/styles/out.min.css')
		block styles
		include includes/analytics.html
	
	nav#stickynav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
		.container-fluid
			.navbar-header
				a.navbar-brand.nowrap(href='#top') digital coaching network
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar-collapse', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse(id='main-navbar-collapse')
				ul.nav.navbar-nav.navbar-content
					li
						a(href='/workflows') Workflows
					li
						a(href='/teams') Teams
					li
						a(href='/about') About
				ul.nav.navbar-nav.navbar-right
					li
						a.btn-action.btn-primary(href='#bottom') Sign Up

	body.spread
		block content

	block scripts
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='/javascripts/index.js')
